.container {
  padding: 0px;
  margin: 0px;
}
.navbar {
  background-color: rgb(248, 199, 136);
  height: 100vh;
  text-align: center;
}
.navbar ul li {
  list-style: none;
  text-decoration: none;
  
}

.navbar ul li a {
  color: rgb(20, 20, 20);
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  float: left;
  margin-right: 15px;
  display: block;
  
}
